In [1]:
print ('Hello, World!')

Hello, World!

In [2]:
a=5
b=10
c=a+b
print (c)

15

In [ ]:
Today we started Python

Python

In [3]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [5]:
x=5
y="john"
print (x)
print (y)

5
john

In [7]:
if 5 > 2:
   print("Five is greater than two!")

Five is greater than two!

In [10]:
x=int(2.8)
print (x)

2

In [16]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [23]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple")
del thislist[0]
print(thislist)

['cherry']

In [25]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
for x in thisset:
  print(x)

{'cherry', 'apple', 'banana'}
cherry
apple
banana

In [31]:
thisdict ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])
for x, y in thisdict.items():
  print(x, y)

Ford
Mustang
1964
brand Ford
model Mustang
year 1964

In [32]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [33]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [35]:
def myfunc(x):
 return 5*x

print(myfunc(3))

15

In [36]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [39]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [42]:
mytuple = ("apple")
myit = iter(mytuple)

print(next(myit))
print(next(myit))

a
p

In [ ]:
def greeting(name):
  print("Hello, " + name)

In [43]:
import mygreeting
mymodule.greeting("Jonathan")

ModuleNotFoundError: No module named 'mygreeting'

In [44]:
import datetime

x = datetime.datetime.now()
print(x)

2019-02-21 13:00:20.196819

In [46]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.dumps(x)

# the result is a Python dictionary:
print(y)

"{ \"name\":\"John\", \"age\":30, \"city\":\"New York\"}"

In [48]:
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
if (x):
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

In [49]:
try:
  print(x)
except:
  print("An exception occurred")

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [52]:
from turtle import *
write(0)
forward(100)
write(5)